.codeview__code {
	background: #fff;
	border: solid #eee;
	border-width: 1px 0;
	box-shadow: 0 2px 0 rgba(0,0,0,0.01);
	padding: 1em 3em 2em;
}
.codeview__code iframe {
    border: 1px solid #eee;
    width: 100%;
}

.codeview__code pre {
  height: 100%;
  margin-bottom: 0;
}

.codeview__code .tab-content div:not(.is-active) {
    display: none;
}

pre code {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

/** Bad Bulma */

pre .tag {
    background-color: transparent;
    border-radius: 0;
    font-size: inherit;
    height: unset;
    padding: 0;
}
