.codeview__code iframe {
    border: 1px solid #eee;
    width: 100%;
}

.codeview__code pre {
  background: #1d1f21;
  color: #c5c8c6;
  height: 100%;
  margin-bottom: 0;
}

.codeview__code .tab-content div:not(.is-active) {
    display: none;
}

pre code {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 0.87em;
}

/** Bad Bulma */

pre .tag {
    background-color: transparent;
    border-radius: 0;
    font-size: inherit;
    height: unset;
    padding: 0;
}

pre .tag.support {
    color: #f0c674;
}
