body.darkMode {
	$border-color: #333;

	background: #222;
	color: #eee;

	/** Main Menu */

	.navbar {
		background: #333;
											
		&.has-shadow {
			box-shadow: 0 2px 0 0 #000;
		}

		.navbar-brand::after {
			background: #444;
		}

		.navbar-item, .navbar-link {
			color: #ccc;

			&.is-active, &:focus, &:focus-within, &:hover {
				background: #383838;
				color: #fff;
			}
		}
	}

	/** Side Menus */

	#articleNav,
	aside.menu {
		border-color: $border-color;
	}
	
	.menu-list li ul {
		border-color: $border-color;
	}
	
	.menu-list a {
		color: #ccc;

		&:hover {
			background: $border-color;
		}
	}

	/** Content */
	
	.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
		color: #aaa;
	}

	strong {
		color: #ccc;
	}
	
	hr {
		border-color: #2a2a2a;
		background: #111;
	}

	/** Tabs */

	.tabs a {
		color: #ccc;
	}

	.tabs {
		a {
			color: #ccc;
		}

		ul {
			border-bottom-color: $border-color;
		}
	}
	
	/** Forms */

	.input, .select select, .textarea {
		background: #111;
		border-color: $border-color;
		color: #999;

		&:placeholder {
			color: #666;
		}
	}

	.button.is-static {
		background: #1c1c1c;
		border-color: $border-color;
	}

	.label {
		color: inherit;
	}

	/** Footer */
	
	.footer {
		background: #000;
	}

	/** Misc. modifiers */

	.has-background-light {
		background: #282828 !important;
	}

	.message.is-dark {
		background: #4f4f4f;

		.message-body {
			color: #fafafa;
		}
	}

	.codeview__code iframe {
		border-color: #444;
	}

	/**
	 * rainbow theme, uses obsidian:
	 * https://github.com/ccampbell/rainbow/blob/master/themes/sass/obsidian.sass
	 */

	pre { 
		background: #282828;
		border-color: $border-color;
		color: #F1F2F3;

		.comment { 
			color: #66747B;
		}

		.constant, .storage, .string, .comment.docstring { 
			color: #EC7600;
		}

		.string.regexp, .support.tag.script, .support.tag.style { 
			color: #fff;
		}

		.keyword, .selector, .entity { 
			color: #93C763;
		}

		.inherited-class { 
			font-style: italic;
		}

		.integer { 
			color: #FFCD22;
		}

		.variable.global, .variable.class, .variable.instance { 
			color: #CCC;
		}

		/* C# specific rule */
		.preprocessor { 
			color: #66747B;
		}
	}

	pre .support, *[data-language="csharp"] .function.call { 
		color: #FACD22;
	}
}