body {
	// display: flex;
	margin: 0;
	padding: 0;
}

#site-container {
	display: flex;
	flex-direction: row-reverse;
	width: 100vw;
}

/* Sidebar */

aside.menu {
	border-color: #ddd;
	font-size: 0.9em;
	width: 20vw;
	max-width: 300px;
	min-height: 100vh;

	nav {
		position: sticky;
	}

	.menu-list a {
		padding: .75em;
	}
}

#sideMenu {
	background: #f8f8f8;
	border-right: 1px solid #eee;

	@include darkmode {
		background: #181818;
		border-right-color: #282828;
	}

	nav {
		margin-left: 1rem;
		top: 4.25em;
	}

	.menu-list li ul {
		margin-right: 0;

		@include darkmode {
			border-left-color: #333;
		}
	}

	.menu-list a {
		border-radius: 3px 0 0 3px;

		@include darkmode {
			color: #aaa;
		}
	}

	.menu-list a:hover {
		background-color: #eee;

		@include darkmode {
			background-color: #222;
			color: #aaa;
		}
	}

	.menu-list a.is-active {
		background-color: #fff;
		border: 1px solid #eee;
		border-right: none;
		border-left: 2px solid $blue;
		color: $blue;
		margin-right: -1px;

		@include darkmode {
			background-color: #222;
			border-color: #282828;
			border-left-color: $blue;
			color: #fff;
		}
	}
}

#articleNav {
	order: -1;

	.submenu {
		padding-left: 1rem;
		top: 7.25em;

		ul {
			border-left: 1px solid #ddd;

			@include darkmode {
				border-left-color: #444;
			}
		}

		li {
			padding: .5em 0;
		}

		a {
			color: inherit;
			display: block;
			padding: 0 1em;

			&.--active {
				border-left: 2px solid #3273dc;
				font-weight: 600;
			}
		}
	}
}


.simplebar-track {
	right: 4px !important;
	
	.simplebar-scrollbar.simplebar-visible::before {
		background: transparent;
		border: 1px solid #000;
		margin: 4px 0;
		opacity: 0.1 !important;
											
		@include darkmode {
			border-color: #fff;
		}
	}
	.simplebar-scrollbar.simplebar-visible.simplebar-hover::before {
		background: #000;
											
		@include darkmode {
			background: #fff;
		}
	}
}


/* Mega Menu */
nav.navbar {
	position: sticky;
	top: 0;
	
	.navbar-brand {
		padding: 0 1em;
		align-items: center;
		margin-right: 1rem;
		position: relative;
		width: 20vw;
		max-width: 300px;

		&:after {
			content: '';
			display: block;
			width: 1px;
			height: 60%;
			background: #ddd;
			position: absolute;
			right: 0;
		}

		img {
			height: 30px;
		}
	}
	
	.navbar-item.is-mega {
		position: static;

		.is-mega-menu-title {
			margin-bottom: 0;
			padding: .375rem 1rem;
		}
	}
	
	.navbar-end {
		align-items: center;

		> .field {
			margin: 0 1em;
			display: flex;
		}
	}

	.switch[type="checkbox"].is-small + label {
		display: flex;
		align-items: center;
		padding-top: .1rem;

		svg {
			height: 1rem;
		}
	}
}

/* Main Content */

main {
	flex-grow: 1;
	padding-top: 4vw;
	overflow: auto;

	& > .container {
		padding: 1em;
	}
}
