body {
	// display: flex;
	margin: 0;
	padding: 0;
}

/* Sidebar */

aside.menu {
	border-right: 1px solid #ddd;
	font-size: 0.9em;
	width: 20vw;
	max-width: 300px;
	min-height: 100vh;

	& > * {
		margin: 1em;
	}

	.logo {
		margin: 3em 1em 2em;
		text-align: center;
	}

	.logo img {
		max-width: 180px;
	}

	.current_page_item > a {
		background: $link;
		color: $link-invert;
	}

	nav {
		position: sticky;
		top: 1em;
	}
	
	nav .menu-label {
		font-size: 0.9em;
	}

	nav .menu-label:not(:first-child) {
		margin-top: 2em;
	}

	nav .menu-label a {
		color: inherit;
	}
}

/* Mega Menu */
nav.navbar {
	position: sticky;
	top: 0;
	
	.navbar-item.is-mega {
		position: static;

		.is-mega-menu-title {
			margin-bottom: 0;
			padding: .375rem 1rem;
		}
	}
}

/* Main Content */

main {
	flex-grow: 1;
	padding-top: 4vw;

	& > .container {
		padding: 1em;
	}
}
