body {
	display: flex;
	margin: 0;
	padding: 0;
}

/* Sidebar */

aside.menu {
	border-right: 1px solid #ddd;
	font-size: 0.9em;
	width: 20vw;
	max-width: 300px;
	min-height: 100vh;

	& > * {
		margin: 1em;
	}

	.logo {
		margin: 3em 1em 2em;
		text-align: center;
	}

	.logo img {
		max-width: 180px;
	}

	nav {
		position: sticky;
		top: 1em;
	}

	.current_page_item > a {
		background: $link;
		color: $link-invert;
	}
}

/* Main Content */

main {
	flex-grow: 1;
	padding-top: 4vw;

	& > .container {
		padding: 1em;
	}
}
