// Configure Bulma

$blue: rgb(0,100,183);
$radius-small: 3px;

@import "../node_modules/bulma/bulma.sass";

@import "dashboard";
@import "codeview";
@import "tabview";
@import "xml-stripper";
@import "darkmode";

html {
	font-size: 14px;
}

hr {
	border: 1px solid #eee;
	height: 5px;
	margin: 4rem 0;
}

.copy-code-button {
	margin: 0.5em 1em;
	position: absolute;
	right: 0;
}

// Dennismode

#dennisMenu {
	display: none;
}

body.dennisMode {
	#dennisMenu {
		display: block;
	}
	.navbar-start,
	#nonDennisMenu {
		display: none;
	}
}