// Configure Bulma

$blue: rgb(0,100,183);
$radius-small: 3px;

@import "../node_modules/bulma/bulma.sass";

@import "dashboard";
@import "codeview";
@import "tabview";
@import "xml-stripper";

html {
	font-size: 14px;
}

.copy-code-button {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	position: absolute;
	right: 0;
}