.xml-stripper {
	margin-top: 3vw;
	
	.columns {
		margin: 0;
	}

	.column {
		border: solid #eee;
		border-width: 1px 0;
		padding: 1em;

		@include darkmode {
			border-color: #111;
		}
	}
	
	p {
		margin-bottom: 1em;
	}
	
	.textarea:not(.has-border) {
		background: transparent;
		border: none;
		box-shadow: none;
		min-height: 80vh;
	}
}
