.faq-list {
	.card-header {
		cursor: pointer;
		user-select: none;
	}

	.card-header-icon {
		transition: transform .3s;
	}

	.card-content {
		max-height: 0;
		overflow: hidden;
		padding: 0;
	}

	.card.open .card-content {
		max-height: none;
		padding: 1.5rem;
	}
	.card.open .card-header-icon {
		transform: rotate(180deg);
	}
}
