.faq__item {
	display: flex;
	align-items: center;
	padding: 15px;
	margin-bottom: 1em;
	background: #e8e8e8;
	
	.faq__item__content {
		width: 100%;
	}
	.control:first-child {
		margin-bottom: 10px;
	}
	.faq__item__delete {
		margin-left: 15px;
	}
}
.DarkMode .faq__item {
	background: #181818;
}
