.faq__item {
	display: flex;
	align-items: center;
	padding: 15px;
	margin-bottom: 1em;
	background: #e8e8e8;
	
	.faq__item__content {
		width: 100%;
	}
	.control:first-child {
		margin-bottom: 10px;
	}
	.faq__item__delete {
		margin-left: 15px;
	}
}
.DarkMode .faq__item {
	background: #181818;
}

.copied-notification {
	background: #4a4a4a;
	border-radius: 4px;
	color: #e8e8e8;
	display: none;
	font-weight: 600;
	font-size: .75em;
	padding: .75em;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	transform: translateX(110%);
}

