.page-search {
	.control {
		position: relative;
	}

	.control input:focus + &__results {
		visibility: visible;
		pointer-events: all;
	}

	&__results {
		position: absolute;
		visibility: hidden;
		pointer-events: none;

		a {
			border-bottom: 1px solid #eee;
			display: none;
			padding: .5em;

			&.match {
				display: block;
			}
		}
	}
}