.page-search {
	.control {
		position: relative;
	}

	.control input:not(:placeholder-shown) + &__results {
		display: block;
	}

	&__results {
		display: none;
		min-width: 100%;
		padding: .5rem;
		position: absolute;

		li {
			display: none;

			&.match {
				display: list-item;
			}
		}

		a small {
			display: block;
			opacity: .5;
		}
	}
}